@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table id="processTable">
    <thead>
        <tr>
            <td style='display: none;'><p>Id</p></td>
            <td><p>Start time</p></td>
            <td><p>Version</p></td>
            <td><p>Release</p></td>
            <td><p>Progress</p></td>
            <td><p>Status text</p></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<input type="text" id="nrOfRows" value="10" onchange="refreshTable()" style="float: right;" />
<input type="text" id="versionId" placeholder="version">
<input type="button" onclick="add()" value="Add">
<!--<input type="button" value="refresh table" onclick="refreshTable()" />-->

<br>
<input type="button" value="Remove" onclick="removeUser()" />
<input type="button" value="Update" onclick="window.open('/User/Update?id='+@ViewBag.Id, '_self')" />

<script>
    refresh();

    //refresh table on required interval
    function refresh() {
        setTimeout(function () {
            refresh();
        }, 5000);
        refreshTable();
    }

    //refreshes table
    function refreshTable() {
        $.ajax({
            type: "GET",
            url: '/Metadata/GetProcessList?noOfProcesses=' + $("#nrOfRows").val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var htmlText = "";
                for (var i = 0; i < data.length; i++) {
                    var datetime = new Date(data[i].StartTime);
                    var date = datetime.getDate() + "-" + (datetime.getMonth() + 1) + "-" + datetime.getFullYear();
                    var time = datetime.getHours() + ":" + datetime.getMinutes() + ":" + datetime.getSeconds();
                    htmlText += "<tr>" +
                        "<td style='display: none;'>" + data[i].Id + "</td>" +
                        "<td>" + date + " " + time + "</td>" +
                        "<td>" + data[i].Version + "</td>" +
                        "<td>" + data[i].Release + "</td>" +
                        "<td>" + data[i].Progress + "</td>" +
                        "<td>" + data[i].Status.Text + "</td>" +
                        "</tr > ";
                }
                $("#processTable tbody").html(htmlText)
            },
            error: function () {
                alert('fail');
            }
        });
    }

    //Loads new metadata
    function add() {
        var versionId = $("#versionId").val();
        $.ajax({
            type: "GET",
            url: '/Metadata/StartMetadataLoad?versionId=' + versionId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                $("#versionId").val("");
                refreshTable();
            },
            error: function () {
                alert('fail');
            },
        });
    }

    function removeUser() {
        $.ajax({
            type: "GET",
            url: '/User/DeleteUser?id=' + @ViewBag.Id,
            success: function (i) {
                if (i == "True") {
                    window.open('/User/LogIn', '_self');
                }
                else {
                    alert("Doesnt exist!");
                }
            },
            error: function () {
                alert('fail');
            }
        });
    }

    //table row clicked
    $("#processTable tbody").delegate('tr', 'click', function () {
        window.open('/Process/Info?processID=' + $(this).find('td:first').text(), '_self');
    });
</script>