<input type="button" class="btn btn-primary mb-2" value="Profili" onclick="window.open('/Profile', '_self')" />
<br>
<table id="processTable" class="table table-hover">
    <thead style="background: #dedede;">
        <tr>
            <td style='display: none;' scope="col"><p>Id</p></td>
            <td scope="col"><p>Sākuma laiks</p></td>
            <td scope="col"><p>Versija</p></td>
            <td scope="col"><p>Laidiens</p></td>
            <td scope="col"><p>Progress</p></td>
            <td scope="col"><p>Statusa teksts</p></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<input type="text" class="form-control" id="profileId" placeholder="profila ID">
<input type="button" class="btn btn-primary mb-2" onclick="add()" value="Pievienot">
<input type="text" class="form-control" id="nrOfRows" placeholder="10" onchange="refreshTable()" style="float: right;" />

<script>
    //Starts refresh method with selected time period
    refresh(5000);

    //refresh table
    function refresh(time) {
        setTimeout(function () {
            refresh(time);
        }, time);
        refreshTable();
    }

    //refreshes table
    function refreshTable() {
        var path;
        if ($("#nrOfRows").val() == "" || isNaN($("#nrOfRows").val())) {
            path = '/Metadata/GetProcessList';
        }
        else {
            path = '/Metadata/GetProcessList?noOfProcesses=' + $("#nrOfRows").val();
        }
        $.ajax({
            type: "GET",
            url: path,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var htmlText = "";
                for (var i = 0; i < data.length; i++) {
                    var datetime = new Date(data[i].StartTime);
                    var date = datetime.getDate() + "-" + (datetime.getMonth() + 1) + "-" + datetime.getFullYear();
                    var time = datetime.getHours() + ":" + datetime.getMinutes() + ":" + datetime.getSeconds();
                    htmlText += "<tr>" +
                        "<td style='display: none;'>" + data[i].Id + "</td>" +
                        "<td>" + date + " " + time + "</td>" +
                        "<td>" + data[i].Version + "</td>" +
                        "<td>" + data[i].Release + "</td>" +
                        "<td>" + data[i].Progress + "</td>" +
                        "<td>" + data[i].Status.Text + "</td>" +
                        "</tr> ";
                }
                $("#processTable tbody").html(htmlText)
            },
            error: function () {
                alert('fail');
            }
        });
    }

    //add new process
    function add() {
        $.ajax({
            type: "GET",
            url: '/Process/StartMetadataLoad?profileId=' + $("#profileId").val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                $("#versionId").val("");
                refreshTable();
            },
            error: function () {
                alert('fail');
            },
        });
    }
    
    //table row clicked
    $("#processTable tbody").delegate('tr', 'click', function () {
        window.open('/Process/Info?processID=' + $(this).find('td:first').text(), '_self');
    });
</script>