<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<table id="tblDiff">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DiffRest.Models.Service s in ViewBag.Comparison)
        {
            foreach (DiffRest.Models.Resource r in s.ResourceList)
            {
            <tr>
                <td>
                    @r.Name
                </td>
                <td>
                    @r.Status
                </td>
            </tr>
            }
        }
    </tbody>
</table>
