@{
    @Scripts.Render("~/bundles/fancytree")
}

<div id="loader" style="display:none;"></div>

<div class="container-fluid">
    <div class="row">
        <div id="VersionControl" class="col-sm-3">
            <div class="panel panel-default" style="height: 130px;  overflow: hidden;">
                <div class="panel-heading" style="clear:both;">Horizon REST versiju izmaiņas<div style="float: right">@Html.ActionLink("Versiju iegūšana", "Index", "RESTMetadata")</div></div>

                <div class="panel-body" style="padding-left: 20px;">
                    <b>1. Versija:</b>&nbsp;&nbsp;<select class="form-control" id="Version1"> </select>
                    <input id="download" class="btn btn-default" type="button" value="Lejuplādēt" style="float: right;" />
                    <br />
                    <b>2. Versija:</b>&nbsp;&nbsp;<select class="form-control" id="Version2"> </select>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default" style="height: 130px">
                <div class="panel-heading">Servisa informācija</div>
                <div class="panel-body">
                    <b>REST ceļš:</b>&nbsp;&nbsp;<span id="restPath"></span><br />
                    <b>Izmaiņu statuss:</b>&nbsp;&nbsp;<span id="changeStatus"></span><br />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="height: 130px">
                <div class="panel-heading">Servisu filtri</div>

                <div class="panel-body" style="padding-top: 0px;">
                    <div class="radio">
                        <label><input type="radio" id="chars" name="optradio" value="1">Visi</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="lines" name="optradio" value="2" checked="true">Modificētie</label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Horizon REST servisi
                    <input name="search" type="text" class="form-control" placeholder="servisa vārds" style="float: right;" />
                </div>
                <div id="treeControl" style="overflow: auto;">
                    <div class="link-panel-body" align="right">
                        <a href="#" id="expand_tree">Izvērst visu</a>&nbsp;\&nbsp;<a href="#" id="colapse_tree">Sakļaut visu</a>
                    </div>

                    <div class="panel-body tree-panel" id="tree">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div id="change_header" class="panel-heading">
                    Izmaiņas
                    <input id="next" type="button" class="btn btn-default" value="Nākamais" style="float: right;" />
                    <input id="previous" type="button" class="btn btn-default" value="Iepriekšējais" style="float: right;" />
                </div>
                <div id="htmlControl">
                    <iframe id="diff_frame" style="width: 100%; height: 100%; overflow: auto; border: none;" />
                </div>
            </div>
        </div>
    </div>
</div>