@model int
@{
    ViewBag.Title = "Exists";
}

<h2>Faili jau ir iegūti. Vai vēlies atkārtoti ielādēt?</h2>

<div>
    <input type="button" class="btn btn-default" value="Jā, vēlos turpināt" onclick="window.open('/RESTMetadata/StartMetadataLoad?metadataServiceId=@Model', '_self')">
    <input type="button" class="btn btn-default" value="Nē, doties atpakaļ" onclick="window.open('/RESTMetadata', '_self')">
</div>