@model int
@{
    ViewBag.Title = "Exists";
}

<h2>Faili jau ir iegūti. Vai vēlies atkārtoti ielādēt?</h2>

<div>
    <input type="button" class="btn btn-default" value="Jā, vēlos turpināt" onclick="window.open('StartMetadataLoad?metadataServiceId=@Model', '_self')">
    <input type="button" class="btn btn-default" value="Nē, doties atpakaļ" onclick="javascript:history.go(-1)">
</div>