<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/employee.js"></script>

<h3>Salīdzini servisa versijas</h3>
<select id="old" onchange="test()">
    @foreach (string text in Model)
    {
            <option value="@text">@text</option>
    }
</select>
<br>
<select id="new" onchange="test()">
    @foreach (string text in Model)
    {
        <option value="@text">@text</option>
    }
</select>

<div class="row">
    <div class="column" style="background-color:#bbb; float: left; width: 100%; padding: 10px;">
        <h2>Difference</h2>
        <div id="changed"></div>
    </div>
</div>



<script>
    function test() {
        $.ajax({
            url: "/Home/List",
            data: {
                "oldRelease": document.getElementById("old").value,
                "newRelease": document.getElementById("new").value
            },
            type: "GET",
            success: function (msg) {
                alert("Update");
                $('#changed').html(msg);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>
