<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/employee.js"></script>

<h3>Salīdzini servisa versijas</h3>

<div style="box-sizing: border-box;">
    <div style="background-color:#aaa; box-sizing: border-box; float: left; width: 50%; padding: 10px;">
        <select id="old" onchange="test(this)">
            @foreach (string text in Model)
            {
                <option value="@text">@text</option>
            }
        </select>
        <section id="textold"></section>
    </div>
    <div style="background-color:#bbb; box-sizing: border-box; float: left; width: 50%; padding: 10px;">
        <select id="new" onchange="test(this)">
            @foreach (string text in Model)
            {
                <option value="@text">@text</option>
            }
        </select>
        <section id="textnew"></section>
    </div>
</div>


<script>
    function test(obj) {
        $.ajax({
            url: "/Home/List?text=" + obj.value,
            type: "GET",
            success: function (result) {
                document.getElementById("text" + obj.id).innerHTML = result;
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>
