<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Server" connectionString="INSERT URL HERE"/>
    <add name="Login" connectionString="INSERT USERNAME HERE"/>
    <add name="Password" connectionString="INSERT PASSWORD HERE"/>
  </connectionStrings>
</configuration>