<input type="button" class="btn btn-primary mb-2" value="Procesi" onclick="window.open('/Process/Index', '_self')" />

<table class="table table-hover">
    <thead style="background: #dedede;">
        <tr>
            <td scope="col"><p>Id</p></td>
            <td scope="col"><p>Nosaukums</p></td>
            <td scope="col"><p>Rest URL</p></td>
            <td scope="col"><p>Lietotāj vārds</p></td>
            <td scope="col"><p>Parole</p></td>
            <td scope="col"><p>Darbība</p></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col"><p>1</p></td>
            <td scope="col"><input type="text" class="form-control" value="515 versija" style="width: 100%;"></td>
            <td scope="col"><input type="text" class="form-control" value="https://github.com/IvarsPu/Hor-diff" style="width: 100%;"></td>
            <td scope="col"><input type="text" class="form-control" value="test" style="width: 100%;"></td>
            <td scope="col"><input type="password" class="form-control" value="123" style="width: 100%;"></td>
            <td scope="col"><input type="button" class="btn" value="Saglabāt" style="width: 50%; background-color: #20bd08; color: white;"><input type="button" class="btn" value="Dzēst" style="width: 50%; background-color: #b21010; color: white;"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td scope="col"><p></p></td>
            <td scope="col"><input type="text" class="form-control" style="width: 100%;"></td>
            <td scope="col"><input type="text" class="form-control" style="width: 100%;"></td>
            <td scope="col"><input type="text" class="form-control" style="width: 100%;"></td>
            <td scope="col"><input type="password" class="form-control" style="width: 100%;"></td>
            <td scope="col"><input type="button" class="btn" value="Izveidot" style="width: 100%; background-color: #20bd08; color: white;"></td>
        </tr>
    </tfoot>
</table>

